:root
{
    --background-color:rgba(22, 38, 35, 0.5);
    --background-accent-color: rgb(44, 65, 61);
    --primary-color:rgba(199, 43, 63,1);
    --secondary-color: rgba(146, 30, 45, 1);
    --highlight-color: rgba(238, 238, 238,1);
    --image-hover-scale: 1.05;

    background-image: url("../assets/bg.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.788);
    background-blend-mode: color-dodge;

    /* Stops user select on all web browsers*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

header{
    height: 100%;
    top: -10px; /* This line and the next one are there to fix a bit of empty space near the top of the nav bar */
    padding-top: 10px;
    left: -3px;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    text-align: center;
    position: fixed;
    padding: 7px;
    border: medium solid var(--primary-color);
    box-shadow: 10px 0 5px -2px black;
    z-index: 999;
}

.title
{
    text-decoration: none; /* No awful blue links */
    font: bold 35px arial, sans-serif;
    color : var(--highlight-color);
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    /*border: medium solid var(--primary-color);*/
}

.title:hover
{
    color: var(--primary-color);
}

/* items on navigation bar as a whole */
header nav 
{
    text-align: center;
    width: 95%;
    margin: 5px;
}

header nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
}
/* items on navigation bar as a whole */

/* each individual navigation element */
header nav li
{
    background-color: var(--background-accent-color);
    margin-top: 3px;
    padding: 2px;
}

.highlight
{
    background-color: var(--primary-color);
}

header nav li:hover
{
    background-color: var(--primary-color);
}

header nav a 
{
    color: var(--highlight-color);
    text-decoration: none; /* No awful blue links */
    font: 1.3rem arial, sans-serif;
    display: block;
    width: 100%;
    text-transform: uppercase;
}
/* each individual navigation element */

header h3
{
    position: absolute;
    bottom: 40px;
    width: 95%;
    color: var(--highlight-color);
}

.colorSwitcher
{
    position: absolute;
    bottom: 0px;
    width: 75%;
    color: var(--highlight-color);
    list-style: none;
    display: flex;
    flex-flow: row;
}

.colorSwitcher li
{
    margin-left: 12%;
}

.mainContent
{
    position: fixed;
    left: 245px;
    right: 25px;
    bottom: 8px;
    top: 8px;
    backdrop-filter: blur(1.2px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.mainContent h1
{
    font: bold 25px arial, sans-serif;
    color: var(--primary-color);
    width: 95%;
    text-align: center;
    padding: 25px;
    margin-bottom: 3.5%;
}

.highlightText
{
    color: var(--primary-color);
    font: bold 20px arial, sans-serif;
}

.mainContent h2
{
    font: 20px arial, sans-serif;
    color : var(--highlight-color);
    padding : 20px;
    max-width: 500px;
    max-height: auto;
}

.mainContent ul
{
    width: 100%;
    height: 70%;
    text-align: center;
}

.mainContent ul li
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
    margin: 20px;
}

.mainContent img
{    
    max-width: auto;
    max-height: 360px;  
    scale: 1;
    animation: offImageHover 0.1s;
}

@keyframes offImageHover
{
    0% {scale: var(--image-hover-scale);}
    100% {scale: 1;}
}

.mainContent img:hover
{
    scale: var(--image-hover-scale);
    animation: onImageHover 0.1s;
}

@keyframes onImageHover
{
    0% { scale: 1; }
    100% { scale: var(--image-hover-scale); }
}

.mainContent figcaption
{
    margin-bottom: 3.5%;
    font: 15px arial, sans-serif;
    color: var(--highlight-color);
}

.mainContent video
{
    max-height: 70%;
    max-width: auto;
    margin-bottom: 3%;
}